################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MinecraftRecipeBook/.vs/MinecraftRecipeBook.slnx
/AtYourService
/MinecraftRecipeBook/.vs/MinecraftRecipeBook/CopilotIndices/18.0.988.22099
/MinecraftRecipeBook/MinecraftRecipeBook/obj/Debug/net10.0/compressed
